<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Student</title>
  </head>
  <body>
    <form method="POST" action="addstudent">
      <input type="text" name="name" placeholder="enter student name" />
      <br /><br />
      <input type=number name="age" placeholder="enter student age" />
      <br /><br />
      <input type="text" name="email" placeholder="enter student email" />
      <br /><br />
      <button type="submit">Add New Student</button>
    </form>
  </body>
</html>
