<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Send Mail</title>
  </head>
  <body>
    <form action="/submit-mail" method="post">
      <input type="text" placeholder="Enter subject" name="subject" />
      <br /><br />
      <textarea type="text" placeholder="enter mail" name="mail"></textarea>

      <br /><br />
      <button>Send Mail</button>
    </form>
  </body>
</html>
